body {
    background-color: lightskyblue;
}

h1 {
    text-align: center;
    font-size: 2em;
}

p {
    text-align: center;
    font-size: 1.2em;
    margin-top: 100px;
}

form {
    margin: auto;
    margin-top: 100px;
    width: 500px;
    font-size: large;
    font-family: serif;
}

input[type="file"] {
    width: 100%;
  }

button {
    width: 60%;
    align-self: center;
    margin-top: 150px;
    border-radius: 5px;
    border-color: aliceblue;
    font-weight: bold;
    font-size: large;
    
  }
